<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Previsão do Tempo</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-display-1">Previsão do Tempo</h1>
				<h3 class="panel-display-4"> Cidade de São Paulo</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="POST" th:object="${prevTempo}" th:action="@{/tempo}" style="margin:20px 0">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Data / Hora" th:field="*{dataHora}"/>
						<input type="text" class="form-control" placeholder="Dia da Semana" th:field="*{diaSemana}"/>
						<input type="text" class="form-control" placeholder="Temperatura Minima" th:field="*{tempMin}"/>
						<input type="text" class="form-control" placeholder="Temperatura Maxima" th:field="*{tempMax}"/>
						<input type="text" class="form-control" placeholder="Umidade Relativa do Ar" th:field="*{umidade}"/>
						<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}" />
						<input type="text" class="form-control" placeholder="latitude" th:field="*{latitude}"/>
						<input type="text" class="form-control" placeholder="Longitude" th:field="*{longitude}"/>
						<button type="submit" class="btn btn-primary">Adicionar</button>
					</div>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>Data / Hora</th>
							<th>Dia da Semana</th>
							<th>Mínima</th>
							<th>Máxima</th>
							<th>Umidade do Ar</th>
							<th>Observação</th>
							<th>Latitude</th>
							<th>Longitude</th>
						</tr>
					</thead>
					<tbody>
					 	<tr th:each="prevTemp:${temp}">
					 		<td th:text="${prevTemp.dataHora}"></td>
							<td th:text="${prevTemp.diaSemana}"></td>
							<td th:text="${prevTemp.tempMin} + ' ºC'"></td>
							<td th:text="${prevTemp.tempMax} + ' ºC'"></td>
							<td th:text="${prevTemp.umidade} + '%'"></td>
							<td th:text="${prevTemp.descricao}"></td>
							<td th:text="${prevTemp.latitude}"></td>
							<td th:text="${prevTemp.longitude}"></td>
						</tr>
					
					</tbody>
				</table>
				
				<form class="form-inline" method="POST" th:object="${usuario}" th:action="@{/fazerLogout}" style="margin:20px 0">
					<div class="form-inline my-2 my-lg-0">
						<button type="submit" class="btn btn-primary">Logout</button>
					</div>
				</form>
				
			</div>
		</div>
	</body>

</html>